// 头部
.el-header{
  display: flex;
  align-items: center;
  background: $blue;
}

// 主内容
.el-main{
  padding: 0;
}

// 左侧side
.el-submenu__title:hover{
  background: $cff;
  color: $blue;
  i{
    color: $blue;
  }
}
.el-menu-item:hover, .el-menu-item:focus{
  background: $cff;
  color: $blue;
  i{
    color: $blue;
  }
}

// 行内from表单
.toolbar {
  background: #fff;
  height: 30px;
  padding: 10px 5px 10px 20px;
  margin-bottom: 10px;
  .el-form-item {
    margin-bottom: 10px;
  }
}